<style>
/* Container to hold the reward boxes */
.reward-container {
    display: flex;
    gap: 5px;
    margin-top:20px;
}

/* Individual Reward Box Styling */
.reward-box {
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #F7F6ED;
    padding: 12px 5px;
    position: relative; /* For the tick icon */
}

/* Flexbox to align the image and text content */
.reward-content {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Image container styling */
.reward-image {
    max-width: 64px;
    border-radius: 6px;
}

/* Image itself */
.reward-image img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

/* Text content */
.reward-text {
    font-size: 10px;
    line-height: 1.2;
}

/* Title of the reward */
.reward-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
}

/* Description of the reward */
.reward-description {
    color: #333;
}

/* Tick Icon for Reached State */
.reward-tick {
    position: absolute;
    top: -8px;
    right: -8px;
    border-radius: 50%;
    padding: 0px;
    width: 33px;
    height: 33px;
}
.reward-tick svg {
    background: #50bbfd;
    border-radius: 50%;
    padding: 4px;
    border:2px solid #d9d9d9;
}

  
</style>

{% assign cartTotal = cart.total_price | divided_by: 100.0 %}
{% assign discountTiers = '100, 150' | split: ', ' %}
{% assign discountAmounts = '0, 10' | split: ', ' %}
{% assign lastIndex = discountTiers.size | minus: 1 %}
{% assign discountFound = false %}
{% assign nextDiscountTierMessage = true %}
{% for i in (0..lastIndex) %}
    {% assign tier = discountTiers[i] | plus: 0 %}
    {% assign discount = discountAmounts[i] | plus: 0 %}
    
    {% if cartTotal >= tier %}
        {% assign discountFound = true %}
        {% assign discountAmount = discount %}
        {% assign nextIndex = i | plus: 1 %}
        {% if nextIndex <= lastIndex %}
            {% assign nextTier = discountTiers[nextIndex] | plus: 0 %}
            {% assign limitToShow = nextTier | minus: cartTotal %}
        {% else %}
            {% assign nextDiscountTierMessage = false %}
        {% endif %}
    {% endif %}
{% endfor %}

{% if cartTotal < discountTiers[0] %}
 {% assign limitToShow = discountTiers[0] | minus: cartTotal %}
 {% assign message = "Spend another $" | append: limitToShow | append: " to unlock FREE SHIPPING!" %}
{% elsif cartTotal < discountTiers[1] %}
    {% assign message = "Spend another $" | append: limitToShow | append: " to unlock FREE SHIPPING!" %}
{% elsif cartTotal < discountTiers[2] %}
    {% assign message = "You have 10% OFF + FREE SHIPPING! You are $" | append: limitToShow | append: " away from 15% OFF!" %}
{% elsif cartTotal < discountTiers[3] %}
    {% assign message = "You have 15% OFF + FREE SHIPPING! You are $" | append: limitToShow | append: " away from 20% OFF!" %}
{% else %}
    {% assign message = "You have 20% OFF + FREE SHIPPING!" %}
    {% assign nextDiscountTierMessage = false %}
{% endif %}

<div class="cart__discount_tiers">
    <div class="cart__discount_tiers-message--success {% if discountFound == false %}_hide{% endif %}">
        <!-- {% if discountAmount > 0 %}
            🎉 Congrats you unlocked <strong>{{ discountAmount }}% OFF + FREE SHIPPING</strong>
        {% else %}
            🎉 Congrats you unlocked <strong>FREE SHIPPING</strong>
        {% endif %} -->
    </div>
    <div class="cart__discount_tiers-message--next">
        {% if nextDiscountTierMessage %}
          {% assign message = "Spend another $" | append: limitToShow | append: " to unlock FREE SHIPPING!" %}
            👉 {{ message }}
        {% endif %}
    </div>

    <div class="cart__discount_tiers-items--wrapper" style="border:2px solid blue;">
        <div class="cart__discount_tiers-progress">
            {% assign track = cartTotal | divided_by: 220.00 | times: 100.00 %}
            {% if cartTotal >= discountTiers[0] and cartTotal < discountTiers[1] %}
                {% assign track = 25 %}
            {% elsif cartTotal >= discountTiers[1] and cartTotal < discountTiers[2] %}
                {% assign track = 50 %}
            {% elsif cartTotal >= discountTiers[2] and cartTotal < discountTiers[3] %}
                {% assign track = 75 %}
            {% elsif cartTotal >= discountTiers[3] %}
                {% assign track = 100 %}
            {% else %}
                {% assign track = cartTotal | divided_by: 220.00 | times: 100.00 %}
            {% endif %}
            <div class="cart__discount_tiers-progress--track" style="width: {{track}}%;"></div>
        </div>

        <div class="cart__discount_tiers-items">
            <div class="empty_discount"></div>

            {% for i in (0..lastIndex) %}
                {% assign tier = discountTiers[i] | plus: 0 %}
                {% assign discount = discountAmounts[i] | plus: 0 %}
                <div class="discount_price_container">
                    <div style="border:2px solid red;" class="cart__discount_tiers-item {% if cartTotal >= tier %}_active{% endif %}" data-limit="{{ tier }}">
                        <div class="ship-container">
                            <span>
                              <svg fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M476.158,231.363l-13.259-53.035c3.625-0.77,6.345-3.986,6.345-7.839v-8.551c0-18.566-15.105-33.67-33.67-33.67h-60.392 V110.63c0-9.136-7.432-16.568-16.568-16.568H50.772c-9.136,0-16.568,7.432-16.568,16.568V256c0,4.427,3.589,8.017,8.017,8.017 c4.427,0,8.017-3.589,8.017-8.017V110.63c0-0.295,0.239-0.534,0.534-0.534h307.841c0.295,0,0.534,0.239,0.534,0.534v145.372 c0,4.427,3.589,8.017,8.017,8.017c4.427,0,8.017-3.589,8.017-8.017v-9.088h94.569c0.008,0,0.014,0.002,0.021,0.002 c0.008,0,0.015-0.001,0.022-0.001c11.637,0.008,21.518,7.646,24.912,18.171h-24.928c-4.427,0-8.017,3.589-8.017,8.017v17.102 c0,13.851,11.268,25.119,25.119,25.119h9.086v35.273h-20.962c-6.886-19.883-25.787-34.205-47.982-34.205 s-41.097,14.322-47.982,34.205h-3.86v-60.393c0-4.427-3.589-8.017-8.017-8.017c-4.427,0-8.017,3.589-8.017,8.017v60.391H192.817 c-6.886-19.883-25.787-34.205-47.982-34.205s-41.097,14.322-47.982,34.205H50.772c-0.295,0-0.534-0.239-0.534-0.534v-17.637 h34.739c4.427,0,8.017-3.589,8.017-8.017s-3.589-8.017-8.017-8.017H8.017c-4.427,0-8.017,3.589-8.017,8.017 s3.589,8.017,8.017,8.017h26.188v17.637c0,9.136,7.432,16.568,16.568,16.568h43.304c-0.002,0.178-0.014,0.355-0.014,0.534 c0,27.996,22.777,50.772,50.772,50.772s50.772-22.776,50.772-50.772c0-0.18-0.012-0.356-0.014-0.534h180.67 c-0.002,0.178-0.014,0.355-0.014,0.534c0,27.996,22.777,50.772,50.772,50.772c27.995,0,50.772-22.776,50.772-50.772 c0-0.18-0.012-0.356-0.014-0.534h26.203c4.427,0,8.017-3.589,8.017-8.017v-85.511C512,251.989,496.423,234.448,476.158,231.363z M375.182,144.301h60.392c9.725,0,17.637,7.912,17.637,17.637v0.534h-78.029V144.301z M375.182,230.881v-52.376h71.235 l13.094,52.376H375.182z M144.835,401.904c-19.155,0-34.739-15.583-34.739-34.739s15.584-34.739,34.739-34.739 c19.155,0,34.739,15.583,34.739,34.739S163.99,401.904,144.835,401.904z M427.023,401.904c-19.155,0-34.739-15.583-34.739-34.739 s15.584-34.739,34.739-34.739c19.155,0,34.739,15.583,34.739,34.739S446.178,401.904,427.023,401.904z M495.967,299.29h-9.086 c-5.01,0-9.086-4.076-9.086-9.086v-9.086h18.171V299.29z"></path> </g> </g> <g> <g> <path d="M144.835,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568 c9.136,0,16.568-7.432,16.568-16.568C161.403,358.029,153.971,350.597,144.835,350.597z"></path> </g> </g> <g> <g> <path d="M427.023,350.597c-9.136,0-16.568,7.432-16.568,16.568c0,9.136,7.432,16.568,16.568,16.568 c9.136,0,16.568-7.432,16.568-16.568C443.591,358.029,436.159,350.597,427.023,350.597z"></path> </g> </g> <g> <g> <path d="M332.96,316.393H213.244c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017H332.96 c4.427,0,8.017-3.589,8.017-8.017S337.388,316.393,332.96,316.393z"></path> </g> </g> <g> <g> <path d="M127.733,282.188H25.119c-4.427,0-8.017,3.589-8.017,8.017s3.589,8.017,8.017,8.017h102.614 c4.427,0,8.017-3.589,8.017-8.017S132.16,282.188,127.733,282.188z"></path> </g> </g> <g> <g> <path d="M278.771,173.37c-3.13-3.13-8.207-3.13-11.337,0.001l-71.292,71.291l-37.087-37.087c-3.131-3.131-8.207-3.131-11.337,0 c-3.131,3.131-3.131,8.206,0,11.337l42.756,42.756c1.565,1.566,3.617,2.348,5.668,2.348s4.104-0.782,5.668-2.348l76.96-76.96 C281.901,181.576,281.901,176.501,278.771,173.37z"></path> </g> </g> </g></svg>
                              <svg width="30px" height="30px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M19.5 7.75H18.1C18.5 7.27 18.75 6.67 18.75 6C18.75 4.48 17.52 3.25 16 3.25C14.32 3.25 12.84 4.14 12 5.46C11.16 4.14 9.68 3.25 8 3.25C6.48 3.25 5.25 4.48 5.25 6C5.25 6.67 5.5 7.27 5.9 7.75H4.5C3.81 7.75 3.25 8.31 3.25 9V11.5C3.25 12.1 3.68 12.58 4.25 12.7V19.5C4.25 20.19 4.81 20.75 5.5 20.75H18.5C19.19 20.75 19.75 20.19 19.75 19.5V12.7C20.32 12.58 20.75 12.1 20.75 11.5V9C20.75 8.31 20.19 7.75 19.5 7.75ZM19.25 11.25H12.75V9.25H19.25V11.25ZM16 4.75C16.69 4.75 17.25 5.31 17.25 6C17.25 6.69 16.69 7.25 16 7.25H12.84C13.18 5.82 14.47 4.75 16 4.75ZM8 4.75C9.53 4.75 10.82 5.82 11.16 7.25H8C7.31 7.25 6.75 6.69 6.75 6C6.75 5.31 7.31 4.75 8 4.75ZM4.75 9.25H11.25V11.25H4.75V9.25ZM5.75 12.75H11.25V19.25H5.75V12.75ZM18.25 19.25H12.75V12.75H18.25V19.25Z" fill="#000000"></path> </g></svg>
                            </span>
                            <span>Spend ${{ tier }}</span>
                        </div>

                        <div class="check-tick" style="display:none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 10"><path id="_8665019_check_mark_icon" data-name="8665019_check_mark_icon" d="M46,97a1,1,0,0,1-.293.707l-3.684,3.684-4.316,4.316a1,1,0,0,1-1.414,0l-4-4a1,1,0,1,1,1.414-1.414L37,103.587l7.294-7.294A1,1,0,0,1,46,97Z" transform="translate(-32 -96)" fill="#f1ede0"/></svg>
                        </div>
                    </div>

                    <div class="price-text">
                        {% if discount == 0 %}
                            FREE
                        {% else %}
                            <span class="discount-off">{{ discount }}%</span>
                        {% endif %}
                        {% if discount == 0 %}
                            SHIPPING
                        {% else %}
                            <span class="discount-off">OFF</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <div class="empty_discount"></div>
        </div>
    </div>

    <div class="reward-container">
        <!-- First Rectangular Box (Reached State) -->
        <div class="reward-box {% if cartTotal >= 100 %}reached{% endif %}">
            <div class="reward-content">
                <div class="reward-image">
                    <img src="https://cdn.shopify.com/s/files/1/0792/4518/1246/files/Seraphic_Dream_11.png?v=1727401746" alt="Free Shipping Icon" />
                </div>
                <div class="reward-text">
                    <div class="reward-title">FREE SHIPPING!</div>
                    <div class="reward-description">
                        Get free shipping on your order when you spend $100+.
                    </div>
                </div>
                {% if cartTotal >= 100 %}
                <div class="reward-tick">
                   <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 10"><path id="_8665019_check_mark_icon" data-name="8665019_check_mark_icon" d="M46,97a1,1,0,0,1-.293.707l-3.684,3.684-4.316,4.316a1,1,0,0,1-1.414,0l-4-4a1,1,0,1,1,1.414-1.414L37,103.587l7.294-7.294A1,1,0,0,1,46,97Z" transform="translate(-32 -96)" fill="#f1ede0"></path></svg>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Second Rectangular Box (Reached State) -->
        <div class="reward-box {% if cartTotal >= 150 %}reached{% endif %}">
            <div class="reward-content">
                <div class="reward-image">
                    <img src="https://cdn.shopify.com/s/files/1/0792/4518/1246/files/Seraphic_Dream_10.png?v=1727401677" alt="Gift Icon" />
                </div>
                <div class="reward-text">
                    <div class="reward-title">FREE GIFT – VALUED AT $80</div>
                    <div class="reward-description">
                        Spend $150 to get a free discovery set of 4x10ml travel perfumes.
                    </div>
                </div>
                {% if cartTotal >= 150 %}
                <div class="reward-tick">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 14 10"><path id="_8665019_check_mark_icon" data-name="8665019_check_mark_icon" d="M46,97a1,1,0,0,1-.293.707l-3.684,3.684-4.316,4.316a1,1,0,0,1-1.414,0l-4-4a1,1,0,1,1,1.414-1.414L37,103.587l7.294-7.294A1,1,0,0,1,46,97Z" transform="translate(-32 -96)" fill="#f1ede0"></path></svg>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
