{% for block in section.blocks %}
  {% case block.type %}
    {% when 'button' %}
    {% assign menu_title = link.title | downcase %}
    {% assign title = block.settings.link_title | downcase %}
    {% if menu_title == title %}
      <style>
        .nav-{{ block.id }} {
          background-color: {{ block.settings.background }};
        }
        .nav-{{ block.id }} div,
        .nav-{{ block.id }} p,
        .nav-{{ block.id }} h3 {
          color: {{ block.settings.color }};
        }
      </style>
      <div class="navigation-button nav-{{ block.id }}">
        <div class="custom-nav-grid">
          <div class="custom-nav-content">
            {% if block.settings.title != blank %}
              <h3 class="h3">{{ block.settings.title }}</h3>
            {% endif %}
            {% if block.settings.text != blank %}
              <div class="rte">{{ block.settings.text }}</div>
            {% endif %}
          </div>
          <div class="nav-image">
            {% render 'lazy-image', image:block.settings.image %}
          </div>
          <div class="nav-arrow">
            <span class="button-arrow">
              <svg preserveAspectRatio="xMidYMid meet" role="presentation" viewBox="0 0 6 8" style="height: 8px; width: 6px;">
                <path d="M2.286 3.154A6.07 6.07 0 011.004.464c0-.232.115-.464.42-.464.307 0 .403.143.67.41a19.69 19.69 0 002.623 2.334C5.33 3.17 6 3.474 6 3.99c0 .517-.67.838-1.283 1.247a19.373 19.373 0 00-2.622 2.334c-.21.214-.402.428-.67.428a.467.467 0 01-.32-.145.383.383 0 01-.1-.318 6.07 6.07 0 011.281-2.69c.402-.553.575-.66.575-.856 0-.196-.173-.285-.575-.837z"></path>
              </svg>
            </span>
          </div>
          {% if block.settings.link != blank %}
            <a href="{{ block.settings.link }}"> </a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endcase %}
{% endfor %}