<style>
  .featured-collections-container {
    padding-left: 20px;
  }
  .featured-collections-container {
    padding-right: 20px;
  }
  .featured-collections-container {
    padding-top: {{ section.settings.desktop_top_spacing }}px;
  }
  .featured-collections-container {
    padding-bottom: {{ section.settings.desktop_bottom_spacing }}px;
  }
  
  .featured-collections-slider {
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .featured-collections-list {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .featured-collection-item {
    flex: 1;
    max-width: 33.333%;
    border-radius: 2.6rem;
    overflow: hidden;
    text-align: center;
    position: relative; /* Ensure design box is positioned within each item */
  }

  .collection-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .collection-image-wrapper {
    position: relative;
    overflow: hidden;
  }

  .collection-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: cover;
  }

  .collection-image-wrapper:hover .collection-image {
    transform: scale(1.05);
  }

  .no-image-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color: #f5f5f5;
    color: #888;
    font-size: 1.2em;
  }

  .collection-info {
    padding: 10px 0;
  }

  .collection-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;
  }

  .icon-arrow svg {
    fill: currentColor;
  }

  .no-collection-text {
    color: #888;
    font-size: 1em;
  }

  .slider-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
  }

  /* Design Box (Bottom Right) */
  .design-box {
    position: absolute;
    bottom: -1px;
    right: -1px;
    background-color: #F9F9F6; 
    border-radius: 35px 0 0 0;
    padding: 0.5rem 2.5rem;
    z-index: 1;
  }

  .design-box:before,
  .design-box:after {
    content: "";
    position: absolute;
    background-color: transparent;
    background: radial-gradient(circle, rgba(204, 0, 0, 0) 1.9rem, #F9F9F6 1rem);
    width: 2rem;
    height: 2rem;
    z-index: 0;
  }

  .design-box:before {
    top: -1.9rem;
    right: 0;
    transform: scale(-1);
    width: 2rem;
    height: 2rem;
    background: white;
    background: -webkit-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 1.9rem, #F9F9F6 1rem);
  }

  .design-box:after {
    bottom: 0;
    left: -1.9rem;
    transform: scale(-1);
    width: 2rem;
    height: 2rem;
    background: white;
    background: -webkit-radial-gradient(100% 100%, circle, rgba(204, 0, 0, 0) 1.9rem, #F9F9F6 1rem);
  }

  .design-info {
    position: relative;
    z-index: 1;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .design-heading .design-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    gap: 4px;
  }

.icon-wrap svg {
  width:1.4rem;
}

  .icon-caret {
    fill: currentColor;
  }
.featured-collection-item .icon-wrap {
  transition: transform 0.3s ease;
}

.featured-collection-item:hover .icon-wrap {
  transform: translateX(10px); 
}
.collection-image-wrapper img {
  max-height:100%;
}



@media screen and (min-width:767px) {
.featured-collections-list {
    display: flex;
    flex-wrap: wrap;
}
.featured-collection-item {
    min-width: 30%;
    max-height: 300px;
}
}
  
@media screen and (max-width:767px) {
  .featured-collection-item {
    min-width: 260px;
    max-height: 175px;
    border-radius: 1.6rem;
}
.collection-link.design-info {
  font-size:12px;
}
.icon-wrap svg {
    width: 0.8rem;
}
.featured-collections-list {
    overflow-x: auto;
    scrollbar-width: none;
}
.featured-collections-list::-webkit-scrollbar {
    display: none;
}
.design-box {
    padding: 0.2rem 1rem;
}

  .featured-collections-container {
    padding-left: 20px;
  }
  .featured-collections-container {
    padding-right: 20px;
  }
  .featured-collections-container {
    padding-top: {{ section.settings.mobile_top_spacing }}px;
  }
  .featured-collections-container {
    padding-bottom: {{ section.settings.mobile_bottom_spacing }}px;
  }

  
}
  
</style>

<div class="featured-collections-container">
  <div class="featured-collections-slider">
    <ul class="featured-collections-list" role="list">
      {% for block in section.blocks %}
        {% assign collection = collections[block.settings.collection] %}
        <li class="featured-collection-item">
          <a href="{{ collection.url }}" class="collection-card">
            <div class="collection-image-wrapper">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ collection.title }}" class="collection-image" loading="lazy">
              {% elsif collection and collection.image != blank %}
                <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}" class="collection-image" loading="lazy">
              {% else %}
                <div class="no-image-placeholder">No Image Available</div>
              {% endif %}
            </div>
            <div class="collection-info design-box">
              {% if collection %}
                <a href="{{ collection.url }}" class="collection-link design-info">{{ collection.title }}
                  <span class="icon-wrap"><svg aria-hidden="true" class="icon icon-caret" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <path d="M20.5587 4L16.5104 4.93099C16.6857 6.98109 17.4254 8.94259 18.6474 10.598C19.8694 12.2534 21.5259 13.538 23.4335 14.3095H2.00488V17.7143H23.4335C21.5192 18.4848 19.8575 19.7734 18.6346 21.4355C17.4118 23.0976 16.6762 25.0676 16.5104 27.1244L20.5587 28C20.5003 26.7044 20.6984 25.41 21.1415 24.1912C21.5845 22.9723 22.2639 21.8529 23.1407 20.8973C24.0175 19.9416 25.0743 19.1685 26.2506 18.6223C27.4268 18.076 28.6994 17.7675 29.9952 17.7143V14.3095C28.6984 14.2529 27.4255 13.9412 26.2493 13.3924C25.073 12.8435 24.0165 12.0682 23.1401 11.1107C22.2637 10.1532 21.5846 9.03237 21.1417 7.81226C20.6987 6.59216 20.5007 5.29671 20.5587 4Z" fill="currentColor"></path>
                  </svg>
                  </span>
                </a>
              {% else %}
                <span class="no-collection-text">No Collection Selected</span>
              {% endif %}
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>



{% schema %}
{
  "name": "Banner Slider",
  "settings": [
    {
      "type": "range",
      "id": "desktop_top_spacing",
      "label": "Top Spacing (Desktop)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "desktop_bottom_spacing",
      "label": "Bottom Spacing (Desktop)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_top_spacing",
      "label": "Top Spacing (Mobile)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    },
    {
      "type": "range",
      "id": "mobile_bottom_spacing",
      "label": "Bottom Spacing (Mobile)",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 1
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection Block",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Upload Image (Optional)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Slider"
    }
  ]
}
{% endschema %}