{%- render 'section-spacing-collapsing' -%}

<style>
  {%- assign section_background = section.settings.background | default: settings.background -%}
  {%- assign card_background = section.settings.product_card_background | default: settings.product_card_background -%}
  {%- assign card_blends = false -%}

  {%- unless section_background != 'rgba(0,0,0,0)' and card_background != 'rgba(0,0,0,0)' and section_background != card_background -%}
    {%- assign card_blends = true -%}
  {%- endunless -%}

  #shopify-section-{{ section.id }} .product-list {
    --product-list-gap: {% if section.settings.stack_products and section.settings.products_per_row_mobile == '2' %}{% if card_blends %}var(--product-list-row-gap){% endif %} var(--spacing-2){% else %}var(--product-list-row-gap) var(--product-list-column-gap){% endif %};
    --product-list-items-per-row: {{ section.settings.products_per_row_mobile | times: 1 }};
    --product-list-carousel-item-width: {{ 100 | divided_by: section.settings.products_per_row_mobile | times: 1.3 }}%;
    --product-list-grid: {% if section.settings.stack_products %}auto / repeat(var(--product-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--product-list-carousel-item-width){% endif %};
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .product-list {
      --product-list-gap: var(--product-list-row-gap) var(--product-list-column-gap);
      --product-list-items-per-row: 3;
      --product-list-carousel-item-width: {% if section.settings.item_large %}{% if section.settings.mobile_snap == blank %}30%{% else %}30%{% endif %} {% else %}{% if section.settings.mobile_snap == blank %}55%{% else %}43%{% endif %}{% endif %};
    }
  }
  {% if section.settings.item_large %}
   @media screen and (min-width: 990px) {
      #shopify-section-{{ section.id }} .product-list {
        --product-list-gap: var(--product-list-row-gap) var(--product-list-column-gap);
        --product-list-items-per-row: 6;
        --product-list-carousel-item-width: {% if section.settings.mobile_snap == blank %}16.5%{% else %}16.5%{% endif %};
      }
    }
    @media screen and (min-width: 1260px) {
      #shopify-section-{{ section.id }} .product-list {
        --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
        --product-list-carousel-item-width: calc(var(--container-inner-width) / {{ section.settings.products_per_row_desktop }} - (var(--product-list-column-gap) / {{ section.settings.products_per_row_desktop }} * 1.4));
      }
    }
  
  {% else %}
  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .product-list {
      --product-list-items-per-row: {{ section.settings.products_per_row_desktop }};
      --product-list-carousel-item-width: calc(var(--container-inner-width) / {{ section.settings.products_per_row_desktop }} - (var(--product-list-column-gap) / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}));
    }
  }
  {% endif %}
  @media  (max-width: 699px) {
    #shopify-section-{{ section.id }} .product-list {
      gap: 1.5rem;
    }
  }
</style>

<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.top }}px;
    padding-bottom: {{ section.settings.bottom }}px;
    background-color: {{ section.settings.background }};
    color: rgb(var(--text-color)); 
    --text-color: {{ section.settings.text_color.red }},{{ section.settings.text_color.green }},{{ section.settings.text_color.blue }};
    overflow: hidden;
  }
  {% if section.settings.image_ratio != 'natural' %}
    .section-{{ section.id }} .product-card.product-card--blends img {
      /* aspect-ratio:  {{ section.settings.image_ratio | replace: ':', ' / ' }}; */
        aspect-ratio: 3 / 4;
    }
    {% if section.settings.item_large %}
      .section-{{ section.id }} .product-card.product-card--blends:nth-of-type(1) img,
      .section-{{ section.id }} .product-card.product-card--blends:nth-of-type(2) img {
        /* aspect-ratio:  2 / 2.3; */
          aspect-ratio: 3 / 4;
      }
    {% endif %}
  {% endif %}

  @media (max-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.mobile_top }}px;
      padding-bottom: {{ section.settings.mobile_bottom }}px;
    }
  }
</style>

<section class="section-{{ section.id }} section section-blends section-full" style="padding-right: 0;">
  <div class="section-stacks{% if section.settings.item_large %} grid_item--large{% endif %}">
    {%- assign link_url = section.settings.link_url | default: section.settings.collection.url -%}
    <div class="collection-header">
      {%- render 'section-header-2', button_secondary: section.settings.button_secondary, subheading: section.settings.subheading, heading: section.settings.title, heading_color: section.settings.heading_color, heading_gradient: section.settings.heading_gradient, content: section.settings.content, link_text: section.settings.link_text, link_url: link_url -%}
      {%- if section.settings.stack_products == false -%}
        <div class="collection-slider-buttons collection-slider-buttons--{{ section.id }}" style="position: static;">
          <button is="prev-button" class="circle-button circle-button--sm circle-button--fill border group" aria-controls="{{ scroll_area_id }}" disabled>
            <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
            {% render 'icon' with 'small-left-chevron'  %}
          </button>
    
          <button is="next-button" class="circle-button circle-button--sm circle-button--fill border group" aria-controls="{{ scroll_area_id }}">
            <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
            {% render 'icon' with 'small-right-chevron'  %}
          </button>
        </div>
      {%- endif -%}
    </div>

    <div class="{% if section.settings.show_progress_bar %}scrollable-with-controls{% else %}floating-controls-container{% endif %}">
      {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

      <scroll-carousel {% if section.settings.mobile_snap %}data-snap-center="{{ section.id }}"{% endif %} selector="product-card" id="{{ scroll_area_id }}">
        <reveal-items class="featured__collection-{{ section.id }} swiper" style="overflow: visible;">
          <product-list class="swiper-wrapper featured__collection">
            {%- assign products = section.settings.products | default: section.settings.collection.products -%}

            {%- for product in products limit: section.settings.products_count -%}
              {%- render 'product-card', swiper_class: 'swiper-slide', product: product, stacked: section.settings.stack_products, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, show_badges: true -%}
            {%- else -%}
              {%- for i in (1..section.settings.products_count) -%}
                {%- capture placeholder_image -%}product-{% cycle '1', '2', '3', '4', '5', '6' %}{%- endcapture -%}
                {%- render 'product-card-placeholder', stacked: section.settings.stack_products, placeholder_image: placeholder_image, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, text_alignment: settings.product_info_alignment -%}
              {%- endfor -%}
            {%- endfor -%}
          </product-list>
        </reveal-items>
      </scroll-carousel>
    </div>
  </div>
</section>
<script>
  {% if section.settings.mobile_snap %}
    (function(){
      if (window.innerWidth > 580) return
      var parent = document.querySelector(`[data-snap-center="{{ section.id }}"]`)
      var cardWidth = document.querySelector(`.{{ section.settings.mobile_snap }}-{{ section.id }} > product-card`).clientWidth
      parent.scrollLeft = parent.scrollLeft + cardWidth
    })()
  {% endif %}
</script>
{% schema %}
{
  "name": "Featured collection O",
  "class": "shopify-section--featured-collection featured-collection",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products",
      "info": "Replaces collection when selected."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_products",
      "label": "Stack products",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "item_large",
      "label": "Grit Item Large",
      "default": true,
      "info": "It will make first 2 items width larger and rest of the items width's will remain te same"
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "Show carousel progress bar",
      "default": false
    },
    {
      "type": "range",
      "id": "products_count",
      "min": 2,
      "max": 50,
      "label": "Products to show",
      "default": 6
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "Products per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 2,
      "max": 9,
      "label": "Products per row (desktop)",
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "mobile_snap",
      "label": "Centralized Mobile Version (Version 2)",
      "default": false
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "info": "Default to collection URL."
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "View all"
    },
    {
      "type": "checkbox",
      "id": "button_secondary",
      "label": "Button Secondary",
      "default": false
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Products Image Ratio",
      "options": [
        {
          "value": "4:3",
          "label": "Short (4:3)"
        },
        {
          "value": "1:1",
          "label": "Square (1:1)"
        },
        {
          "value": "2:3.1",
          "label": "Tall (2:3.1)"
        },
        {
          "value": "natural",
          "label": "Nautral"
        }
      ],
      "default": "1:1"
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading color"
    },
    {
      "type": "color_background",
      "id": "heading_gradient",
      "label": "Heading gradient"
    },
    {
      "type": "color",
      "id": "product_card_background",
      "label": "Product card background"
    },
    {
      "type": "color",
      "id": "product_card_text_color",
      "label": "Product card text"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "number",
      "id": "top",
      "label": "Padding Top"
    },
    {
      "type": "number",
      "id": "bottom",
      "label": "Padding Bottom"
    },
    {
      "type": "number",
      "id": "mobile_top",
      "label": "Mobile Padding Top"
    },
    {
      "type": "number",
      "id": "mobile_bottom",
      "label": "Mobile Padding Bottom"
    }
  ],
  "presets": [
    {
      "name": "Featured collection O"
    }
  ]
}
{% endschema %}
<script>
  (function(){
    new Swiper('.featured__collection-{{ section.id }}', {
      slidesPerView: 'auto',
      navigation: {
        nextEl: '.collection-slider-buttons--{{ section.id }} [is="next-button"]',
        prevEl: '.collection-slider-buttons--{{ section.id }} [is="prev-button"]'
      }
    })
  })()
</script>