<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.top }}px;
    padding-bottom: {{ section.settings.bottom }}px;
    background-color: {{ section.settings.background }};
    color: rgb(var(--text-color)); 
    --text-color: {{ section.settings.text_color.red }},{{ section.settings.text_color.green }},{{ section.settings.text_color.blue }};
    box-shadow: 0px 3px 7px 3px #00000045;
  }

  @media (max-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.mobile_top }}px;
      padding-bottom: {{ section.settings.mobile_bottom }}px;
    }
  }
</style>
{% assign product = product %}

{% liquid
    if product.tags contains '_label_women'
      assign button_class = 'button--primary'
    elsif product.tags contains '_label_men' or product.tags contains '_label_unisex'
      assign button_class = 'button--secondary'
    endif
%}

<section class="section-{{ section.id }}">
  <div class="page-width">
    <div class="bar-product-image">
      {% render 'lazy-image', image:product.featured_image %}
    </div>
    <h3 class="{{ section.settings.title_size }}">{{ product.title }}</h3>
    <div class="bar-price-wrapper">
      <p class="bar-price"><span style="text-decoration: line-through;">{{ product.compare_at_price | money }}</span><span id="bar-product-price">{{ product.price | money }}</span></p>
      <p class="bar-metafield">
        {{ product.inventory_quantity }}
      </p>
    </div>
    <div class="bar-form-wrapper">
      {%- form 'product', product, is: 'product-form', class: 'block-{{ block.id }}' -%}
        <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
        {% if product.available %}
          <button class="button {{ button_class }}" type="submit" {{ attributes }} {{ block.shopify_attributes }}>
            {{- 'ADD TO CART' -}}
          </button>
        {% else %}
          <button class="button button--sold {{ button_class }}" type="submit" {{ attributes }} {{ block.shopify_attributes }}>
            {{- 'SOLD OUT' -}}
          </button>
        {% endif %}
      {%- endform -%}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Product Sticky Bar",
    "class": "product-sticky-bar",
    "settings": [
      {
        "type": "select",
        "id": "title_size",
        "label": "Title Size",
        "options": [
          {
            "value": "h2",
            "label": "H2"
          },
          {
            "value": "h3",
            "label": "H3"
          },
          {
            "value": "h4",
            "label": "H4"
          },
          {
            "value": "h5",
            "label": "H5"
          },
          {
            "value": "h6",
            "label": "H6"
          }
        ],
        "default": "h4"
      },
      {
        "type": "header",
        "content": "Colors"
      },
      {
        "type": "color",
        "id": "background",
        "label": "Background"
      },
      {
        "type": "color",
        "id": "text_color",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "number",
        "id": "top",
        "label": "Padding Top",
        "default": 40
      },
      {
        "type": "number",
        "id": "bottom",
        "label": "Padding Bottom",
        "default": 40
      },
      {
        "type": "number",
        "id": "mobile_top",
        "label": "Mobile Padding Top",
        "default": 20
      },
      {
        "type": "number",
        "id": "mobile_bottom",
        "label": "Mobile Padding Bottom",
        "default": 20
      }
    ],
    "presets": [
      {
        "name": "Product Sticky Bar"
      }
    ]
  }
{% endschema %}