<style>
  .section-{{ section.id }} {
    padding-top: {{ section.settings.top }}px;
    padding-bottom: {{ section.settings.bottom }}px;
    background-color: {{ section.settings.background }};
    color: rgb(var(--text-color));
    --text-color: {{ section.settings.color.red }},{{ section.settings.color.green }},{{ section.settings.color.blue }};
  }

  @media (max-width: 768px) {
    .section-{{ section.id }} {
      padding-top: {{ section.settings.mobile_top }}px;
      padding-bottom: {{ section.settings.mobile_bottom }}px;
    }
  }
</style>

<section class="section-{{ section.id }} whif-video-and-text">
  <div class="page-width whif-container-grid">
    <div class="whif-video-container">
      <div>
        <video class="hovered__item" width="100%" height="100%" autoplay muted loop="true">
          <source src="{{ section.settings.video }}" type="video/mp4">
          <source src="{{ section.settings.video }}" type="video/ogg">
        </video>
        {% if section.settings.video_badge != blank %}
          <div class="whif-video_badge">
            <h3 class="h3">{{ section.settings.video_badge }}</h3>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="whif-content-container">
      {% for block in section.blocks %}
        <div class="whif-text-block">
          {% if block.settings.title != blank %}
            <h3 class="{{ block.settings.title_size }}">{{ block.settings.title }}</h3>
          {% endif %}
          {% if block.settings.text != blank %}
            <div class="rte">{{ block.settings.text }}</div>
          {% endif %}
        </div>
      {% endfor %}
      {% if section.settings.link_text != blank %}
        <a class="button hover__button {% if section.settings.button_secondary %}button--secondary{% else %}button--primary{% endif %}" href="{{ section.settings.link }}">
          <div>
            {{ section.settings.link_text }}
            <span class="button-arrow">
              <svg preserveAspectRatio="xMidYMid meet" role="presentation" viewBox="0 0 6 8" style="height: 8px; width: 6px;">
                <path d="M2.286 3.154A6.07 6.07 0 011.004.464c0-.232.115-.464.42-.464.307 0 .403.143.67.41a19.69 19.69 0 002.623 2.334C5.33 3.17 6 3.474 6 3.99c0 .517-.67.838-1.283 1.247a19.373 19.373 0 00-2.622 2.334c-.21.214-.402.428-.67.428a.467.467 0 01-.32-.145.383.383 0 01-.1-.318 6.07 6.07 0 011.281-2.69c.402-.553.575-.66.575-.856 0-.196-.173-.285-.575-.837z"></path>
              </svg>
            </span>
          </div>
        </a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Whif Video And Text",
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background Color"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text Color"
      },
      {
        "type": "header",
        "content": "Section Content"
      },
      {
        "type": "text",
        "id": "video",
        "label": "MP4 Video URL"
      },
      {
        "type": "text",
        "id": "video_badge",
        "label": "Video Badge Text"
      },
      {
        "type": "text",
        "id": "link_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Button URL"
      },
      {
        "type": "checkbox",
        "id": "button_secondary",
        "label": "Button Secondary"
      },
      {
        "type": "header",
        "content": "Section Padding"
      },
      {
        "type": "number",
        "id": "top",
        "label": "Padding Top"
      },
      {
        "type": "number",
        "id": "bottom",
        "label": "Padding Bottom"
      },
      {
        "type": "number",
        "id": "mobile_top",
        "label": "Mobile Padding Top"
      },
      {
        "type": "number",
        "id": "mobile_bottom",
        "label": "Mobile Padding Bottom"
      }
    ],
    "blocks": [
      {
        "type": "text-block",
        "name": "Text Block",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "title_size",
            "label": "Title Size",
            "options": [
              {
                "value": "h2",
                "label": "H2"
              },
              {
                "value": "h3",
                "label": "H3"
              },
              {
                "value": "h4",
                "label": "H4"
              }
            ],
            "default": "h4"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Whif Video And Text"
      }
    ]
  }
{% endschema %}